/*Learned how to improve compatibility with browser fallbacks by using a more universal value before the declaration which the browser will fall back on.*/
<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>
